body {
  background-color: #f6f1eb;
}
body,
ul,
li {
  list-style: none;
  padding: 0;
  margin: 0;
}
a {
  color: inherit;
  text-decoration: none;
}
.header {
  width: 100%;
}
.header_box {
  width: 100%;
  max-width: 1600px;
  width: 90%;

  margin: 0 auto;
}

.nav_list {
  display: flex;
  border: 1px solid blue;
  justify-content: center;
  justify-content: space-between;
}
.nav_list > .nav_item {
  justify-content: center;
  border: 1px solid red;
  flex: 1;
}
.nav_list > .nav_item:nth-child(3) {
  width: 60%;
}
